body {
    background-image: url("../images/StarWarsBackground.jpg");
    background-size: cover;
}
.container {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color: white;
    align-content: center;
    text-align: center;
}
.character {
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
}
img {
    width: 200px;
    height: 200px;
}
h1 {
    font-size: 300%;
    align-content: center;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    margin: 10px 0px 10px 0px;
}
h2 {
    font-size: 200%;
    font-family: 'Alfa Slab One', cursive;
}
h3 {
    font-size: 150%;
    font-family: 'Alfa Slab One', cursive;
}
#alert {
    max-width: 450px;
    font-size: 150%;
}
#attack {
    font-size: 300%;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    font-family: 'Alfa Slab One', cursive;
}
#attack:hover {
    font-size: 400%;
    box-shadow: 10px 10px 10px black;
    background-color: red;
}
#activeChars {
    float: left;
}
#fightArea {
    float: right;
    width: 450px;
    background-color: white;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}